* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0,1rem;
}

body {
    background-color: #8174A0;
    height: 100vh;
}

.faltu {
    height: 100%;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#child {
    height: 10em;
    width: 20rem;
    background-color: rgba(223, 222, 222, 0.11);
}
/* nevbar */

.nevbar {
    height: 5rem;
    width: 100%;
    background-color: #441752;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

/* logo */

.nevlogo {
    height: 4rem;
    width: 4rem;
    background-image: url("logoj.jpg");
    background-size: cover;
    border-radius: 50%;
    
}

.border {
    border: 2px solid transparent;
    border-radius: 50%;
}

.border:hover {
    border: 2px solid rgb(255, 255, 255, 0.800);
}

/* search bar*/

.searchBar {
    height: 3.5rem;
    width: 25rem;
    color: white;
    background-color: #b31cc7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 2px solid rgb(0, 0, 0);
}

.border1 {
    border: 2px solid transparent;    
}

.border1:hover {
    border: 2px solid rgb(255, 255, 255, 0.800);
}

/* select */

#select {
    height: 2.8rem;
    width: 6rem;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius:  .5rem;
    padding-left: 0.5rem;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid rgb(255, 255, 255, 0.800);
}

/* input */

input {
    height: 2.8rem ;
    width: 14rem;
    background-color: pink;
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 1rem;
    color: black;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

/* search icon */

.sarIcon {
    background-color: transparent;
    color: black;
    font-size:x-large;
    margin-left: 1rem;
}

.sarIcon:hover {
    color: rgb(238, 255, 0);
}

/* helping tools */

.helps {
    height: 3rem;
    width: 30rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tools {
    height: 3rem;
    width: 6rem;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-size:medium;
}

.tools:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 15%;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 700;
}

.extra {
    width: 9rem;
}

/* menuIcon */

.menuIcon {
    font-size: larger;
    margin-left: 3rem;
}